$color-brand: #fff;
$color-text-main: #544837;
$color-text-secondary: #2f281e;
$color-background-button-main: #f90;
$color-text-button-main: #173a56;
$color-border-button-main: #bcd0e5;
$color-background-paginator-inactive: #efefef;
$color-border-footer: #bcd0e5;
$color-border-footer-4969: rgba($color-border-footer, 0.4969);
$color-background-overlay: #000;
$color-background-overlay-50: rgba($color-background-overlay, 0.5);
$color-background-menu-burger: #c0a276;
