$size-text-main: 16px;
$size-text-secondary: 14px;
$size-text-subtitle: 18px;
$size-text-h1: 44px;
$size-text-h1-tablets: 30px;
$size-text-h1-phones: 26px;
$size-text-h2: 36px;
$size-text-h2-tablets: 32px;
$size-text-h2-phones: 28px;
$size-text-h3: 34px;
$size-text-h4: 24px;
$size-text-h5: 22px;
$size-text-title-footer: 20px;
